
.todo-status-group {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 36%;
}

.group-title {
  font-size: 1.2em;
  color: #444;
  margin-bottom: 10px;
}

.status-list {
  list-style-type: none;
  padding: 0;
}

.status-item {
  padding: 8px;
  margin: 5px 0;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Status Colors */
.status-item.done {
  background-color: #d4edda;
  color: #155724;
}

.status-item.not-done {
  background-color: #f8d7da;
  color: #721c24;
}
